    <div class="bg-lime-500 rounded-xl flex flex-col p-5 items-center shadow-main">
        <h3 class="font-bold text-2xl">{{ article.Name }}</h3>
        <img [src]="article['Closet Image']" alt={{article.Name}}>
        <div>
            <p>Prix : {{article.Buy}} €</p>
            <p>{{article['Seasonal Availability']}}</p>
        </div>
        <br>
        <div class="flex flex-col gap-5 ">
            <p>Quantités : 0</p>
            <button (click)="addToCard()" class="bg-green-700 px-3 py-1 rounded-full hover:scale-110 duration-150" type="button">Panier</button>
        </div>
    </div>