<header role="banner">
    <nav class="h-32 w-full bg-slate-400 flex justify-between items-center gap-10 pr-10 shadow-main">
        <div class="h-32 w-32 rounded-full">
            <img class="rounded-full" src="https://thumbs.dreamstime.com/b/monkey-glasses-hat-inspiration-funny-logo-design-template-inspiration-funny-logo-design-template-monkey-171374485.jpg" alt="logo">
        </div>
        <h1 class="text-4xl font-extrabold tracking-tight">ATOMIC FUSION HUB</h1>
        <ul class="flex gap-10 tracking-tight">
            <li>
                <a href="/">Accueil</a>
            </li>
            <li>
                <a href="/basket">Mon Panier</a>
            </li>
            <li>
                <a href="/checkout">Mes Commandes</a>
            </li>
        </ul>
    </nav>
</header>